* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    position: fixed;
    padding: 20px 50px;
    top: 0;
    z-index: 10;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0px 32px;
    padding-bottom: 10px;
}

a:hover {
    color: #333333;
    border-bottom: 2px solid #727272;
}

header nav a {
    text-transform: lowercase;
    font-size: 16px;
    padding: 5px 0;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-login {
    padding: 8px 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 4px 8px #7c7c7c;
    cursor: pointer;
    font-size: 14px;
    text-transform: lowercase;
    width: 90px;
    transition: all 0.2s ease;
}

.btn-login:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #5c5c5c;
}

.right-nav img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.btn-login-carrino-lupa {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

/*---------------carrossel principal---------------*/

main .container-principal {
    margin-top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 720px;
    background-color: #f7f7f7;
    box-shadow: 0 5px 8px #7c7c7c;
    display: flex;
    flex-direction: column;
}

.img-container-principal img {
    width: 200px;
    margin-bottom: 20px;
}

.img-container-principal {
    display: flex;
    gap: 10px;
    margin: 0;
    justify-content: center;
}

.container-principal img {
    margin-top: 120px;
    width: 500px;
    height: 550px;
    object-fit: cover;
}

/* --------------- titulo produto --------------- */
.titulo {
    display: flex;
    margin-top: 10px;
}

.titulo-secao {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

/* --------------- GRID DE 3 COLUNAS  --------------- */

.grade-social {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    max-width: 1200px;
    margin: 50px auto 100px auto; 
    padding: 0 20px;
}
/* --------------- ESTILOS DOS CARDS --------------- */

.produto-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: white; 
}

.imagem-container {
    background-color: #f7f7f7;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0; 
}

.produto-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.produto-card:hover img {
    transform: scale(1.05);
}


.produto-info {
    text-align: left; 
    width: 100%;
    padding-left: 5px; 
}

.nome-produto {
    font-size: 16px;
    font-weight: 400; 
    margin-bottom: 5px;
    color: #000;
}

.preco-produto {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}


.linha-card {
    width: 95%; 
    border: 0;
    border-top: 1px solid #e0e0e0; 
    margin: 10px 0 20px 0; 
    align-self: flex-start; 
    margin-left: 5px;
}

.botoes-acao {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    padding-left: 5px;
    margin-bottom: 20px;
}

.btn-acao {
    padding: 10px 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.btn-acao:hover {
    background-color: #f3f3f3;
    transform: scale(1.05);
}

/* --------------- RESPONSIVIDADE mobile --------------- */

@media (max-width: 768px) {

    header {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
        position: relative;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .btn-login {
        margin: 0; 
    }
    
    .nav-right {
        margin: 0;
        justify-content: center;
    }


    .grade-social {
        grid-template-columns: 1fr;
    }


    .img-container-principal {
        flex-direction: column;
    }
    
    .container-principal img {
        width: 90%;
        height: auto;
    }
}


