* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    position: fixed;
    padding: 20px 50px;
    top: 0;
    z-index: 10;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 100px;

}

a {
    text-decoration: none;
    color: inherit;
    padding: 0px 32px;
    padding-bottom: 10px;
}

a:hover {
    color: #333333;
    border-bottom: 2px solid #727272;
}

header nav a {
    text-transform: lowercase;
    font-size: 16px;
    padding: 5px 0;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;

}

.btn-login {
    padding: 8px 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 4px 8px #7c7c7c;
    cursor: pointer;
    font-size: 14px;
    text-transform: lowercase;
    width: 90px;
    transition: all 0.2s ease;

}

.btn-login:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #5c5c5c;
}

.right-nav img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.btn-login-carrino-lupa {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-container {
    position: relative;
    z-index: 2;
    display: flex;
    background: rgba(255, 255, 255, 0.85);
    margin: 200px auto 0 auto;
    width: 560px;
    height: 400px;
    border-radius: 16px;
    padding: 40px 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

/*---------------carrossel principal---------------*/

main .container-principal {
    margin-top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 720px;
    background-color: #f7f7f7;
    box-shadow: 0 5px 8px #7c7c7c;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    max-width: 200px;
    gap: 10px;
    align-items: center;
}

section img {

    width: 200px;
    margin-bottom: 20px;

}

.img-container-principal {
    display: flex;
    gap: 10px;
    margin: 0;
    justify-content: center;
}

.container-principal img {
    margin-top: 120px;
    width: 500px;
    height: 550px;
    object-fit: cover;
}


/* --------------- geral--------------- */
.titulo-secao,
.produtos-grid {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* --------------- titulo produtro --------------- */
.titulo {
    display: flex;
    margin-top: 10px;
}

.titulo-secao {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}



/* --------------- editar/excluir--------------- */
.botoes-acao {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-acao {
    padding: 10px 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.btn-acao:hover {
    background-color: #f3f3f3;
    transform: scale(1.05);
}

/* --------------- adicionar produtos --------------- */

.adicionar-produto-card {
    background-color: #f8f8f8;
    text-align: center;
    width: 400px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.imagem-placeholder {
    width: 380px;
    height: 370px;
    position: relative;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    overflow: hidden;
}

.imagem-placeholder img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    opacity: 20%;
    margin-bottom: 0;

}

.icone-mais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #837F7F;
    font-weight: 100;
    pointer-events: none;
}

.separador {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
}

.btn-adicionar {
    padding: 10px 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.btn-adicionar:hover {
    background-color: #f3f3f3;
    transform: scale(1.05);
}

.imagem-container {
    background-color: #f7f7f7;
    margin-bottom: 15px;
    overflow: hidden;
    width: 400px;
    height: 400px;
}


.produto-card img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.produto-card:hover img {
    transform: scale(1.05);
}

.produtos-primeira-fila {
    justify-content: center;
    margin-left: 650px;
    margin-bottom: 50px;
}

.nome-produto {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.preco-produto {
    font-size: 0.9rem;
    color: #555;
    padding-bottom: 15px;
    position: relative;
}

.preco-produto::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}