    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #7e7c7c;
        color: rgb(0, 0, 0);
        background-image: url('/public/images/amanda-login-fundo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
    }

    header {
        display: flex;
        align-items: center;
        background: #EDEDED;
        width: 100%;
        position: fixed;
        padding: 20px 50px;
        top: 0;
        z-index: 10;
        justify-content: space-between;
    }

    header nav ul {
        list-style: none;
        display: flex;
        gap: 100px;
    }

    a {
        text-decoration: none;
        color: black;
        padding: 0px 32px;
        padding-bottom: 10px;
    }

    a:hover {
        color: #333333;
        border-bottom: 2px solid #727272;
    }

    header nav a {
        text-transform: lowercase;
        font-size: 16px;
        padding: 5px 0;
    }

    .right-nav {
        display: flex;
        align-items: center;
        gap: 20px;

    }

    .btn-login {
        padding: 8px 20px;
        border: 1px solid rgb(255, 255, 255);
        background-color: white;
        color: black;
        border-radius: 20px;
        box-shadow: 0 4px 8px #7c7c7c;
        cursor: pointer;
        font-size: 14px;
        text-transform: lowercase;
        width: 90px;
    }

    .btn-login:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px #5c5c5c;
    }

    .right-nav img {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    footer {
        text-align: center;
        color: #e8e8e8;
        padding: 50px 0;
        margin-top: 0px;
        background-color: #7b7b7bee;
    }

    .btn-login-carrino-lupa {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .login-container {
        position: relative;
        z-index: 2;
        display: flex;
        background: rgba(255, 255, 255, 0.85);
        margin: 200px auto 0 auto;
        width: 560px;
        height: 400px;
        border-radius: 16px;
        padding: 40px 30px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    }

    img {
        width: 215px;
        margin: 5px;
        margin-top: -40px;
        margin-right: -200px;
        border-radius: 0px 15px 15px 0px;

    }

    main {
        padding-top: 250px;
        padding-bottom: 50px;
        position: relative;
        z-index: 2;
        text-align: center;
    }

    main::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
    }

    h1 {
        color: white;
        margin-bottom: 30px;
        font-size: 32px;
    }

    .login-container {
        display: flex;
        background: white;
        max-width: 1000px;
        margin: 0 auto;
        border-radius: 16px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        text-align: left;
        overflow: hidden;
    }

    .form-section {
        flex: 1;
        padding: 40px;
    }

    .image-section {
        flex: 1;
        display: block;
    }

    .form-section form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: -42px;
    }

    label {
        font-size: 16px;
        color: #333;
        margin-bottom: -5px;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    .forgot-password {
        text-align: right;
        font-size: 13px;
        color: #666;
        text-decoration: none;
        margin-top: -5px;
        margin-bottom: 15px;
    }

    .btn-entrar {
        background-color: #4A4A4A;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .btn-criar-conta {
        background-color: #FFFFFF;
        color: #000000;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }